.wrapper {
  display: inline-flex;
}

.wrapper .dynamic-txts {
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite; /* 4 words hence steps 4 && (3*4=12s)*/
}
@keyframes slide {
  100% {
    top: -120px; /* (20 * 4 + 10 * 4)=120px; Here, 10*4 for line height 30-20=10  */
  }
}

.dynamic-txts li span {
  position: relative;
  text-transform: uppercase;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #fff;
  background: #000;
  animation: typing 3s steps(5) infinite;
}

/* @keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
} */

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 35px);
  }
  100% {
    left: 0;
  }
}
