.app__container {
   display: flex;
   min-height: 100vh;
}

a {
   color: unset;
   text-decoration: none;
}

li {
   list-style-type: none;
}

hr {
   opacity: 0.3;
}

.shadow-inner {
   box-shadow: inset 0 0.3rem 3rem rgba(243, 240, 240, 0.1);
}

.logo-color {
   color: #B2B2B2;
}